body {
    padding-top:  50px;
    padding-bottom: 10px;
    background-color: #202022;
}



nav {
    font-size: 20px;
    color: black;
    text-shadow: 4px 4px 4px #aaa;
    opacity: 0.5;
}

.navbar-brand {
    font-size: 28px;
}


.jumbotron {
  
  padding: 80px;
  height: 450px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .head {
    text-align: center;
    font-size: 70px;
    text-shadow: 4px 4px 4px #aaa;
}

.jumbotron .decoration {
    text-align: center;
    color: black;
    width: 50px;

}

.jumbotron .subheading {
    text-align: center;
    font-size: 50px;
    text-shadow: 4px 4px 4px #aaa;
   
}


.post-preview {
    font-size: 25px;

}

.preview-h1 {
    color: white;
    text-shadow: 2px 2px 2px #aaa;

}

.preview-content {
    opacity: 0.5;
    color: black;
}

.preview-pubdate {
    color: #aaa;
}

